# Default ignored files
/shelf/
/workspace.xml
/target/
# Datasource local storage ignored files
/../../../../:\project\test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
